<% layout('layouts/boilerplate') -%>
<% var title = listing.title; %>
<title><%= title %></title>

    <form class="add-new-form" action="/listings/<%=listing._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <input type="text" name="listing[title]" value="<%= listing.title %>" id="">
        <textarea name="listing[description]" id="" ><%= listing.description %></textarea>
        <div class="org-image">
            <p>Original Listing image</p>
            <img src="<%= orgImage %>" alt="">
        </div>
        <input type="file" name="listing[image]" id="">
        <input type="number" name="listing[price]" value="<%= listing.price %>" id="">
        <input type="number" name="listing[numOfRooms]" value="<%= listing.numOfRooms %>" id="">
        <input type="number" name="listing[maxGuests]" value="<%= listing.maxGuests %>" id="">
        <input type="text" name="listing[location]" value="<%= listing.location %>" id=""> 
        <input type="text" name="listing[country]" value="<%= listing.country %>" id=""> 
        <div id="map" style="height: 400px;"></div>
        <input type="hidden" name="listing[longitude]" id="lng" value="<%= listing.longitude %>">
        <input type="hidden" name="listing[latitude]" id="lat" value="<%= listing.latitude %>">

        <h5 class="mb-3">What about these guest favourites?</h5>
        <div class="row g-3 amenity-grid">
            <%- include('../forms/amenity') -%>
        </div>
        <h5 class="mb-3">Property Type?</h5>
        <div class="row g-3 prop-type">
            <%- include('../forms/property') -%>
        </div>
        <button>Submit</button>
    </form>
