<% layout('layouts/boilerplate') -%>
<% var title = "All Listings - Wanderlust"; %>

<div id="filter-header">
    <div id="filters">
        <div class="property-type filter" data-type="House">
            <div><i class="fa-solid fa-house"></i></div>
            <p>House</p>
        </div>
        <div class="property-type filter" data-type="Flat">
            <div><i class="fa-solid fa-building"></i></div>
            <p>Flat/Apartment</p>
        </div>
        <div class="property-type filter" data-type="Camping">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="property-type filter" data-type="Caravan">
            <div><i class="fa-solid fa-caravan"></i></div>
            <p>Caravan</p>
        </div>
        <div class="property-type filter" data-type="Igloo">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Igloo</p>
        </div>  
    </div>
    <div class="custom-select">
        <div class="selected">Sort by</div>
        <ul class="sort-by-options">
            <li data-value="">Default</li>
            <li data-value="price_asc">Low to High</li>
            <li data-value="price_desc">High to Low</li>
            <li data-value="popular">Popularity</li>
        </ul>
    </div>
</div>
<div id="home-page-division">

    <!-- On change, form is automatically submitted. A Get request is sent with data, so browser automatically makes it
    /listings?minPrice=5000
    minPrice is the 'name' of the Input field -->
    <form method="GET" action="/listings" id="filters-form">

        <div class="price-min-max-filter">
            <div class="price-min-filter">
                <p>Min</p>
                <input class="filter-form-control form-control" type="number" name="minPrice" placeholder="₹ Min" value="<%= typeof minPrice !== 'undefined' ? minPrice : '' %>">
            </div>

            <div class="price-max-filter">
                <p>Max</p>
                <input class="filter-form-control form-control" type="number" name="maxPrice" placeholder="₹ Max" value="<%= typeof maxPrice !== 'undefined' ? maxPrice : '' %>">
            </div>
        </div>

        <div class="country-filter">
            <p>Country</p>
            <select class="filter-form-control form-control" name="country" id="filter-country" onchange="this.form.submit()">
                <option value="">All Countries</option>
                <% for (let i = 0; i < countryNames.length; i++) { %>
                    <option value="<%= countryNames[i] %>" <%= country === countryNames[i] ? "selected" : "" %>> <%= countryNames[i] %> </option>
                <% } %>
            </select>
        </div>

    </form>

    <div class="all-listing row row-cols-lg-4 mt-3">
        <% for(let listing of listings) { %>
            <div class="card-wrapper position-relative">
                <a href="/listings/<%= listing._id %>">
                    <div class="card col position-relative">
                        <img src="<%= listing.image.url %>" alt="">
                        <div class="card-body">
                            <h2><%= listing.title %></h2>
                            <p>&#8377;<%= listing.price?.toLocaleString("en-IN") || "N/A" %> / night</p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</div>