<% layout('layouts/boilerplate') -%>
<% var title = listing.title; %>
<title><%= title %></title>

    <div id="show-page">
        <h1 class="bebas-neue-regular-font"><%=listing.title%></h1>
        <p class="location mb-3" ><i class="fa-solid fa-location-dot" style:color: indianred;></i> <%= listing.location %>, <%= listing.country %></p>
        <img src=<%=listing.image.url%> alt="" class="listing-image"> 
        <div class="sections">
            <div class="left-sec">
                <div class="hosted-by">
                    <img class="profile-image" src=<%=listing.owner.profileImage.url%> alt="">
                    <p>Hosted By <%=listing.owner.firstName%></p>
                </div>
                <hr>
                <p><%=listing.description%></p>
                <%- include("../shortcuts/amenities-disp") %>
                <% if(currUser && currUser._id.equals(listing.owner._id)) {%> <!-- Checks if the user logged in is same as owner -->
                    <hr>
                    <div class="left-sec-btns mt-4">
                        <a class="edit-prop" href="/listings/<%=listing._id%>/edit">Edit Property!</a>
                        <br> <br>
                        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                            <button class="edit-prop">Delete Property!</button>
                        </form>
                    </div>
                <% } %>
            </div>
            <div class="right-sec">
                <p>&#8377;<%=listing.price.toLocaleString("en-IN")%> <span>/night</span> </p>
                
                <form action="/listings/<%=listing._id%>/bookings" method="POST" id="booking-form">
                    <input type="hidden" name="listingId" value="<%= listing._id %>">
                    
                    <div>
                        <label>Check-in:</label>
                        <input class="date-input" id="checkin" type="date" name="checkIn" min="" required> 
                    </div>

                    <div>
                        <label>Check-out:</label>
                        <input class="date-input" id="checkout" type="date" name="checkOut" min="" required>
                    </div>

                    <div>
                        <label>Guests:</label>
                        <input type="number" name="guests" min="1" value="1">
                    </div>

                    <button type="submit">Book Now</button>
                </form>
            </div>
        </div>
        
        <% 
            const hasBooked = listing.bookings.find(b => currUser && b.user._id.toString() === currUser._id.toString());
            const hasReviewed = listing.reviews.some(r => currUser && r.author._id.toString() === currUser._id.toString());
            const nowDate = new Date(now);
            const isCompleted = hasBooked && (nowDate >= new Date(hasBooked.checkOut));
        %>

        <% if (currUser && hasBooked && !hasReviewed && isCompleted) { %>
            <!-- <hr> -->
            <%- include("../forms/leave-review") %>
        <% } %>

        <% if (listing.reviews.length > 0) { %>
        <hr>
        <div id="reviews-section">
            <h4 class="edu-font">Reviews!</h4>
            <div class="review-grid">
                <% for (let review of listing.reviews) { %>
                    <div class="review-card">
                        <div class="review-header">
                            <img src="<%= review.author.profileImage.url %>" alt="profile" class="review-avatar">
                            <div>
                                <p class="review-username">@<%= review.author.username %></p>
                                <p class="starability-result" data-rating=<%= review.rating %>></p>
                            </div>
                        </div>
                        <p class="review-comment">"<%= review.comment %>"</p>

                        <% if (currUser && review.author._id.toString() === currUser._id.toString()) { %>
                            <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                <button class="delete-review-btn">Delete Review</button>
                            </form>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
        <% } %>
        <hr>

        <h1 class="edu-font">Location!</h1>
        <div id="map" data-lat="<%= listing.latitude %>" data-lng="<%= listing.longitude %>" style="height: 400px;"></div>
        <hr>
        <div id="meet-your-host">
            <h1 class="edu-font">Meet your Host!</h1>
        </div>
        <hr>
        <div id="things-to-know">
            <h1 class="edu-font">Things to Know!</h1>
            <div class="things-col">
                <div>
                    <p class="things-head">House rules</p>
                    <p>Check-in: 1:00 pm - 10:00 pm</p>
                    <p>Check-out: Before 10:00 am</p>
                    <p>4 Guests Maximum</p>
                </div>
                <div>
                    <p class="things-head">Safety & Property</p>
                    <p>Exterior security cameras on property</p>
                    <p>Smoke alarm</p>
                    <!-- <p>4 Guests Maximum</p> -->
                </div>
                <div>
                    <p class="things-head">Cancellation Policy</p>
                    <p>Add your trip dates to get the cancellation details for this stay.</p>
                    <!-- <p>Check-out: Before 10:00 am</p>
                    <p>4 Guests Maximum</p> -->
                </div>
            </div>
        </div>

    </div>