<% layout('layouts/boilerplate') -%>
<% var title = listing.title; %>
<title><%= title %></title>

    <div id="show-page">
        <h1><%=listing.title%></h1>
        <p class="location" ><%= listing.location %>, <%= listing.country %></p>
        <p class="location" >@<%= listing.owner.username %></p>
        <img src=<%=listing.image.url%> alt="" class="listing-image"> 
        <div class="sections">
            <div class="left-sec">
                <p><%=listing.description%></p>
                <%- include("../shortcuts/amenities-disp") %>
                <% if(currUser && currUser._id.equals(listing.owner._id)) {%> <!-- Checks if the user logged in is same as owner -->
                    <div class="left-sec-btns mt-4">
                        <a class="edit-prop" href="/listings/<%=listing._id%>/edit">Edit Property!</a>
                        <br> <br>
                        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                            <button class="edit-prop">Delete Property!</button>
                        </form>
                    </div>
                <% } %>
            </div>
            <div class="right-sec">
                <p>&#8377;<%=listing.price.toLocaleString("en-IN")%> <span>/night</span> </p>
                
                <form action="/listings/<%=listing._id%>/bookings" method="POST" id="booking-form">
                    <input type="hidden" name="listingId" value="<%= listing._id %>">
                    
                    <div>
                        <label>Check-in:</label>
                        <input class="date-input" id="checkin" type="date" name="checkIn" min="" required> 
                    </div>

                    <div>
                        <label>Check-out:</label>
                        <input class="date-input" id="checkout" type="date" name="checkOut" min="" required>
                    </div>

                    <div>
                        <label>Guests:</label>
                        <input type="number" name="guests" min="1" value="1">
                    </div>

                    <button type="submit">Book Now</button>
                </form>
            </div>
        </div>
        
        <% for( let booking of listing.bookings ) { %>
            <% if (currUser && booking.user._id.toString() === currUser._id.toString()) { %>
                <hr>
                <%- include("../forms/leave-review") %>
            <% } %>
        <% } %>
        
        <% if (listing.reviews.length > 0) { %>
            <div id="reviews-section">
                <h4 class="text-center">Reviews</h4>
                <div id="reviews">
                        <% for( review of listing.reviews ) { %>
                        <div class="ind-review">
                            <div class="review-auth">
                                <img src="<%= review.author.profileImage.url %>" alt="" class="profile-image">
                                <p class="review-author"> @<%= review.author.username %> </p>
                            </div>
                            <p class="starability-result" data-rating=<%= review.rating %>></p>
                            <p class="review-comment"><%= review.comment %></p>
                            <% if (review.author._id.toString() === currUser._id.toString()) { %>
                                <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="primary-btn">Delete Review!</button>
                                </form>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
            </div>
        <% } %>
        
        <div id="map" data-lat="<%= listing.latitude %>" data-lng="<%= listing.longitude %>" style="height: 400px;"></div>

    </div>