<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="House" hidden 
            <%= listing.property_type === "House" ? "checked" : "" %>>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-house"></i></div>
            <div class="amenity-label">House</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Camping" hidden 
            <%= listing.property_type === "Camping" ? "checked" : "" %>>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-campground"></i></div>
            <div class="amenity-label">Camping</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Castle" hidden 
            <%= listing.property_type === "Castle" ? "checked" : "" %>>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-chess-rook"></i></div>
            <div class="amenity-label">Castle</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Caravan" hidden 
            <%= listing.property_type === "Caravan" ? "checked" : "" %>>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-caravan"></i></div>
            <div class="amenity-label">Caravan</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Hotel" hidden 
            <%= listing.property_type === "Hotel" ? "checked" : "" %>>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-hotel"></i></div>
            <div class="amenity-label">Hotel</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Igloo" hidden 
            <%= listing.property_type === "Igloo" ? "checked" : "" %>>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-igloo"></i></div>
            <div class="amenity-label">Igloo</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Cruise" hidden 
            <%= listing.property_type === "Cruise" ? "checked" : "" %>>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-ship"></i></div>
            <div class="amenity-label">Cruise</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Flat" hidden 
            <%= listing.property_type === "Flat" ? "checked" : "" %>>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-building"></i></div>
            <div class="amenity-label">Flat/Apartment</div>
        </div>
    </label>
</div>